.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: calc(100vh - 40px);
	max-width: 375px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.logo {
	width: 200px;
	height: 200px;
	object-fit: contain;
}

.finish_text {
	font-size: 20px;
	font-weight: 300;
	margin: 30px auto;
}

.finish_button {
	width: calc(100% - 60px);
	height: 40px;
	margin: 0 30px;
	font-size: 20px;
	font-weight: 600;
	border: none;
	border-radius: 8px;
	background-color: #dedede;
	color: #333;
	cursor: pointer;
}
.finish_button:focus {
	outline: none;
}

.author_top {
	margin-top: 80px;
}
.author_text {
	font-size: 14px;
	font-weight: 300;
}
